/*****************
GENERAL
*****************/

body {
  font-family: sans-serif;
  background-color: #D9E2FA;
  text-align: center;
  max-width: 780px;
  margin: auto;
}

/*****************
HEADING
*****************/

header {
  color: #fff;
  background-color: #476CDA;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 5px 15px;
}

/*****************
TABLE
*****************/

th {
  font-size: 1.2em;
  color: #694769;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #E1DAE1;
}

#totals {
  background-color: #FCF912;
}

td {
  padding: 2px;
  text-align: center;
}

button {
  height: 25px;
}

/*****************
FOOTER
*****************/

footer {
  font-size: 0.75em;
  text-align: center;
  padding: 10px;
  margin: 15px 0 0;
  color: #694769;
  clear: both;
  background-color: #ccc;
  position: relative;
  top: -50px;
  opacity: 0;
}



